<div class="container-fluid text-center">
  <div class="col">
    <div class="card shadow-sm container-img">
      <%= image_tag image_src, width: "100%", height: "100%", class: "comic-image" %>
      <a id=<%= "not_favourite#{comic_id}" %> class="image-not-favourite" onclick="upvote(<%= comic_id %>)"><%= image_tag 'heart_off', size: "30x30" %></a>
      <a id=<%= "favourite#{comic_id}" %> class="image-favourite" onclick="upvote(<%= comic_id %>)"><%= image_tag 'heart_on', size: "30x30" %></a>
      <p class="comic-title comic-title-transition"><%= title %></p>
    </div>
  </div>
</div>

<script>
  function upvote(id) {
    console.log(id);
    var not_favourite = document.getElementById("not_favourite".concat(id));
    var favourite = document.getElementById("favourite".concat(id));

    if (not_favourite.style.display === "none") {
      not_favourite.style.display = "block";
      favourite.style.display = "none";
      console.log(not_favourite);
      console.log(favourite);
    } else {
      not_favourite.style.display = "none";
      favourite.style.display = "block";
      console.log(not_favourite);
      console.log(favourite);
    }
  }
</script>